# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
terraform_logs.txt
crash.log

# SSH Keys
*.pem
*.key
# Okta private keys
keys/
*.pem


# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
.env
.env.admin
.env.readonly
.envrc
terraform_logs.txt
terraform_logs.
