---
# AWS Configuration
aws_region: "${aws_region}"
readonly_secret_id: "${readonly_secret_id}"
admin_secret_id: "${admin_secret_id}"
litellm_master_secret_id: "${litellm_master_secret_id}"
litellm_admin_secret_id: "${litellm_admin_secret_id}"
litellm_reader_secret_id: "${litellm_reader_secret_id}"
rds_host: "${rds_host}"
rds_master_user: "${master_user}"
rds_db_password_secret_id: "${password_secret_id}"